@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  div {
    @apply no-scrollbar;
  }
  section {
    @apply no-scrollbar;
  }
  body {
    @apply no-scrollbar;
    @apply text-gray-700;
  }
}

.menu li > a:active {
  @apply bg-white;
}

.menu li > a:hover {
  @apply bg-white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
